[Unit]
Description=VoiceChatLoid
After=network.target voicevox-engine.service

[Service]
Environment=MECABRC=/etc/mecabrc
Type=simple
User=ikeda
ExecStart=/usr/bin/python3 /home/ikeda/voice_chat_loid/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

